listener 8883
allow_anonymous true

cafile /home/pi/MQTT_Broker/TLS/certs/ca/ca.crt

# Path to the PEM encoded server certificate.
certfile /home/pi/MQTT_Broker/TLS/certs/broker/broker.crt

# Path to the PEM encoded keyfile.
keyfile /home/pi/MQTT_Broker/TLS/certs/broker/broker.key

require_certificate true

